$gray: #C4C4C4;
$gray-light: #E1E1E1;
$gray-medium: #F1F4F5;

$pokemonTypes: (
  grass: #08FEC3,
  bug: #729f3f,
  ghost: #7b62a3,
  poison: #AF08FE,
  fairy: #FBA1EC,
  psychic: #f366b9,
  water: #00A3FF,
  flying: #5317FC,
  dragon: #53a4cf,
  ice: #51c4e7,
  fire: #FE0808,
  electric: #FFB800,
  rock: #a38c21,
  fighting: #d56723,
  ground: #85826E,
  normal: #0E0E0E,
  steel: #9eb7b8,
  dark: #707070
);